[submodule "vendor/socket.io-node"]
	path = vendor/socket.io-node
	url = https://github.com/LearnBoost/Socket.IO-node.git
[submodule "example/client"]
	path = example/client
	url = https://github.com/LearnBoost/Socket.IO.git
